includeConfig 'conf/modules.config'

docker.enabled = true
process.container = 'genomepam:latest'
report.overwrite = true

// Default parameters
params {
    // Input/Output (must be set via -params-file)
    FQDIR       = null
    OUTDIR      = null
    GENOME      = null
    genome_fasta = null
    AssaySpec   = null

    // Trimming
    Read1Tail  = "AGATCGGAAGAGCACACGTC"
    Read2Tail  = "AGATCGGAAGAGCGTCGTGT"
    pos1       = 11
    pos2       = 18
    posR2      = 8
    xNs        = "NNNNNNNNNN"
    FIXSEQ     = "auto"
    BWATHREADS = 4

    // GenomePAM analysis
    PAMlen = 4
    PAMpos = 3

    // Path to guideseq module (relative to project)
    GUIDESEQDIR = "$projectDir/modules/guideseq"
}

profiles {
    local {
        executor {
            name   = 'local'
            cpus   = 8
            memory = '32 GB'
        }
    }

    batch {
        process.executor = 'awsbatch'
        process.container = '<ECR_IMAGE_URI>'
        aws.batch.cliPath = '/usr/local/bin/aws'
    }
}
