includeConfig 'conf/modules.config'

conda.enabled = true
report.overwrite = true

executor {
    name = 'local'
	cpus = 24
	memory = '256GB'
}

params{
    Read1Tail = "AGATCGGAAGAGCACACGTC"
    Read2Tail = "AGATCGGAAGAGCGTCGTGT"
    pos1 = 11
    pos2 = 18
    posR2 = 8
    xNs = "NNNNNNNNNN"
    FIXSEQ = "AGTGACAC"
    BWATHREADS = 20

    // HPA settings
    PAMlen = 4
    PAMpos = 3
}
params{
    GUIDESEQDIR = "$projectDir/modules/guideseq"

    // Path to conda env
    r_conda = "/path/to/conda/env"
    guide_seq_conda = "/path/to/conda/env"
    // Path to utilities
    BBMAPDIR = "/path/to/bbmap"
    SNPEFFDIR = "/path/to/snpEff"
    BWA = "/path/to/bwa"
    // Please set the path to the reference genome
    // Reference genome (bwa indexed)
    hg38 = "/path/to/hg38.fa/"

}
