process {
    withName: 'MULTIQC_PRE'{
        ext.args = "--config ${projectDir}/conf/multiqc_pretrimming.yaml"
        publishDir = [
            path: { "${params.OUTDIR}/qc/multiqc_pretrim" },
            mode: 'copy',
            pattern : '*'
        ]
    }

    withName: 'MULTIQC_POST'{
        ext.args = "--config ${projectDir}/conf/multiqc_posttrimming.yaml"
        publishDir = [
            path: { "${params.OUTDIR}/qc/multiqc_posttrim" },
            mode: 'copy',
            pattern : '*'
        ]
    }

    withName: 'trim_tag_umi' {
        cpus = 1
        memory = '5 GB'
        maxForks = 10
        publishDir = [
            path: { "${params.OUTDIR}/trim_tag_umi" },
            mode: "copy",
            enabled: false
        ]
    }

    withName: 'trim_tag_umi_autodetect' {
        cpus = 1
        memory = '5 GB'
        maxForks = 10
        publishDir = [
            path: { "${params.OUTDIR}/trim_tag_umi" },
            mode: "copy",
            enabled: false
        ]
    }

    withName: 'align_identify' {
        publishDir = [
            path: { "${params.OUTDIR}/align_identify" },
            mode: "copy",
            enabled: true
        ]
        cpus = { params.BWATHREADS ?: 4 }
        memory = '28 GB'
        maxForks = 4
    }

    withName: 'annotate' {
        cpus = 1
        memory = '8 GB'
        maxForks = 10
        publishDir = [
            path: { "${params.OUTDIR}/annotate" },
            mode: "copy",
            enabled: true
        ]
    }

    withName: 'visualize' {
        cpus = 1
        memory = '5 GB'
        maxForks = 10
        publishDir = [
            path: { "${params.OUTDIR}/visualize" },
            mode: "copy",
            pattern: '*.{pdf,csv}',
            enabled: true
        ]
    }

    withName: 'consolidate_stat' {
        cpus = 1
        memory = '5 GB'
        maxForks = 1
        publishDir = [
            path: { "${params.OUTDIR}/visualize" },
            mode: "copy",
            enabled: true
        ]
    }

    withName: 'svg_visualize' {
        cpus = 1
        memory = '5 GB'
        maxForks = 10
        publishDir = [
            path: { "${params.OUTDIR}/svg_visualize" },
            mode: "copy",
            pattern: '*.{svg,csv}',
            enabled: true
        ]
    }

    withName: 'genomePAM' {
        cpus = 1
        memory = '5 GB'
        maxForks = 10
        publishDir = [
            path: { "${params.OUTDIR}/genomePAM" },
            mode: "copy",
            enabled: true
        ]
    }

}
